<div id="register">
  <div style="margin-top: 3%;">
    <div class="signup-form">
      <div class="mt-md-4">
        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-header">
            <h2>Sign Up</h2>
            <p>Fill out this form to start your free trial!</p>
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
              maxlength="20" #username="ngModel" />
          </div>

          <div class="alert-danger" *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
          <div class="form-group">
            <label for="prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" [(ngModel)]="form.prenom" required minlength="3"
              maxlength="20" #prenom="ngModel" />
          </div>
          <div class="alert-danger" *ngIf="f.submitted && prenom.invalid">
            <div *ngIf="prenom.errors.required">prenom is required</div>
            <div *ngIf="prenom.errors.minlength">
              prenom must be at least 3 characters
            </div>
            <div *ngIf="prenom.errors.maxlength">
              prenom must be at most 20 characters
            </div>
          </div>
          <div class="form-group">
            <label for="dateNaissance">dateNaissance</label>
            <input type="date" class="form-control" name="dateNaissance" [(ngModel)]="form.dateNaissance"  #dateNaissance="ngModel" />
          </div>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" name="nom" [(ngModel)]="form.nom" required minlength="3"
              maxlength="20" #nom="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && nom.invalid">
              <div *ngIf="nom.errors.required">nom is required</div>
              <div *ngIf="nom.errors.minlength">
                nom must be at least 3 characters
              </div>
              <div *ngIf="nom.errors.maxlength">
                nom must be at most 20 characters
              </div>
            </div>
          </div>
         
          <div class="form-group">
            <label for="tel">Numero de téléphone</label>
            <input type="number" class="form-control" name="tel" [(ngModel)]="form.tel" #tel="ngModel" />
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
              #email="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && email.invalid">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
              minlength="6" #password="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>

          </div>
          <div class="text-center small">
            <div style="color: rgb(20, 20, 20)"> have an account? </div><a href="/login">
              <div style="color: rgb(172, 94, 91)">Login here</div>
            </a>
          </div>
          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">
          Your registration is successful!
        </div>

      </div>
    </div>
  </div>
</div>