<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
      <a href="#intro" class="scrollto"><img src="assets/img/logo.png" alt="" title=""></a>
    </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>  
                  <li *ngIf="!showAdminBoard"><a href="#about">About</a></li>
                  <li *ngIf="!showAdminBoard"><a href="#sports">Sports</a></li>
                  <li *ngIf="isLoggedIn"><a href="/mesevents" >MesEvents</a></li> 
                  <li *ngIf="isLoggedIn"><a href="/listevent" >Events</a></li> 
                  <li *ngIf="isLoggedIn"><a href="/profile" >Profile</a></li>

          <li *ngIf="showAdminBoard"><a href="/allusers" >All User</a></li>
          <li *ngIf="showAdminBoard"><a href="/allevents" *ngIf="showAdminBoard">All Events</a></li>

          <li *ngIf="!showAdminBoard"><a href="#contact">Contact</a></li>
          <li class="buy-tickets" *ngIf="isLoggedIn"><a href="/orgevent">Organiser</a></li>

          <li class="buy-tickets" *ngIf="!isLoggedIn"><a href="/register">Login / Sign Up</a></li>

          <li  class="buy-tickets" *ngIf="isLoggedIn" ><a href="" (click)="logout()">Logout</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->-
    </div>
  </header><!-- #header -->

  <div >

  <router-outlet></router-outlet>
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-6 col-md-9 footer-info">
                <!-- Uncomment below if you prefer to use a text logo -->
                <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
                <a href="#intro" class="scrollto"><img src="assets/img/logo.png" alt="" title=""></a>
              <br>
              <br>
  
            <p>The Event souhaite révolutionner la pratique du sport et permettre au plus grand nombre de jouer plus souvent et plus régulièrement dans la convivialité.
  
            </p>
          </div>
  
         
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#events">Events</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#sports">Sports</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="/register">Login/Sing Up</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>111 boulevard camélinat,<br> 92230 Gennevilliers,
              <br>
              France<br>
              <strong>Phone:</strong> 01 33 56 78 90<br>
              <strong>Email:</strong> theevent@gmail.com<br>
            </p>
  
            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="">Aymen-Ahmed</a>
      </div>
    </div>
  </footer><!-- #footer -->
  
  
    
</div>
   

 
  

   