<div id="register">
    <div style="margin-top: 3%;">
      <div class="signup-form">
        <div class="mt-md-4">
            <form  name="form" (ngSubmit)="e.form.valid && onSubmit()" #e="ngForm" novalidate>
                <div class="form-header">
              <h2>Organiser Votre Event</h2>
              <p>Maintenant!</p>
            </div>
            
            <label for="id_createur">id_user</label>

            <select name="id_createur" [(ngModel)]="form.id_createur" required #id_createur="ngModel">
              <option value={{currentUser.id}} >{{currentUser.id}}</option>
              
          <!--    <input type="text" name="texte" value="" id="texte"  />-->

            </select>
            <div class="form-group">

               <label for="Sport">Sport</label>
   

           <!--    <select id="Sport" onChange="javascript:document.getElementById('texte').value = this.value;">-->
                  <select name="sport" [(ngModel)]="form.sport" required #Sport="ngModel">
                  <option value="Football">FOOTBALL</option>
                  <option value="handball">HANDBAL</option>
                  <option value="Tennis">Tennis</option>
                  <option value="Running">Running</option>
              <!--    <input type="text" name="texte" value="" id="texte"  />-->

                </select>
              </div>
               <!-- <p>{{ form.sport }}</p> -->
  
 <!--<input list="Sport" type="text" id="Sport" [(ngModel)]="form.Sport" required  #Sport="ngModel" >-->

            
            <div class="form-group">
              <label for="duration">duration</label>
              <input type="number" class="form-control" name="duration" [(ngModel)]="form.duree" required  #duree="ngModel" />
            </div>
          <!--  <p>{{ form.duree }}</p> -->


            <div class="form-group">
              <label for="prix">Prix</label>
              <input type="number" class="form-control" name="prix" [(ngModel)]="form.prix" required  #prix="ngModel" />
              
            </div>
            <div class="form-group">
              <label for="heure_debut">Heure_debut</label>
              <input type="time"   class="form-control" name="heure_debut" [(ngModel)]="form.heure_debut" #heure_debut="ngModel"/>
            </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" name="date" [(ngModel)]="form.date"  #extension="ngModel" />
            
          </div>

            <div class="form-group">
              <label for="nbplace">Nombre de places</label>
              <input type="number" class="form-control" name="nbplace" [(ngModel)]="form.nbplace" #nbplace="ngModel" />
            </div>
            <div class="form-group">
                <label for="niveau">Niveau</label>
                <select name="niveau" [(ngModel)]="form.niveau" required #niveau="ngModel">
                  <option value="DEBUTANT">DEBUTANT</option>
                  <option value="PROFESSIONNEL">PROFESSIONNEL</option>
                  <option value="AMATEUR">AMATEUR</option>
                  <option value="PASSION">PASSION</option>
                </select>
              </div>
                <div class="form-group">
                  <label for="adresse">Adresse</label>
                  <input type="text" class="form-control" name="adresse" [(ngModel)]="form.adresse"  #adresse="ngModel" />
                  
                </div>
            <div class="form-group">
              <button type="submit"  class="btn btn-primary btn-block btn-lg">Creation</button>
  
            </div>
           
          </form>
          <div class="alert alert-success" *ngIf="isSuccessful">
            Creation is successful!
          </div>
          
  
        </div>
      </div>
    </div>
  </div>
