<div  style="margin-top: 8%;">

<h3>Update user</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Prenom</label>
      <input type="text" class="form-control" id="idprenom" required [(ngModel)]="user.prenom" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" id="idnom" required [(ngModel)]="user.nom" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="idemail" required [(ngModel)]="user.email" name="emailId">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
</div>

